/*  //  BODY  //  */

*{
    font-family: poppins;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: rgb(183,60,6);
    background: linear-gradient(90deg, rgba(183,60,6,1) 9%, rgba(222,104,53,1) 98%);
}


/*  //  ENCABEZADO  //  */

.encabezado {
    background-image: url(Imagenes/Banner/grandoli_banner.png);
    display: flex;
    height: 125px;
}

.encabezado_cont-imagen {
    z-index: 1;
}

.encabezado_cont-imagen img {
    width: 150px;
    padding: 0px;
    margin-top: 10%;
    margin-left: 7%;
}

.encabezado_cont-titulo {
    margin: 0px 2%;
    font-size: 23px;
    color: #dedede;
}



/*  //  NAVEGADOR  //  */

.cont-menu {
    background: rgb(128,124,122);
    background: linear-gradient(90deg, rgba(200,200,200,1) 60%, rgba(280,280,280,1) 50%, rgba(200,200,200,1) 60%);
    height: 45px;
    display: flex;
    align-items: center;
    border-top: solid 2 px #b73c06;
    border-bottom: solid 5px #333333 ;
    position: sticky;
    top: 0;
}

.menu-list {
    width: 100%;
    display: flex;
    justify-content: center
}


.menu_item a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.menu_item a:hover {
    color:#b73c06;
    border-bottom: #b73c06;
}

li {
    list-style: none;
    margin: 0px 5%;
}


/*  //  MAIN  //  */

.cont-main{
    display: block;
}


/*  //  estilos del HISTORIAL.HTML  //  */


/*  //    Navegador Fechas    //  */


.cont-fechas {
    width: 100%;
    height: 90px;
    top: 175px;
    left: 0;
    overflow: auto ;
    background-color: #ffeeee;
    position: sticky;
    top: 45px;
}

.cont-fechas ul {
    display: flex;
    margin: 0;
}

.fechas_list {
}

.fechas_list li {
    padding: 15px 0px;
    border-bottom: solid #444444 1px;
    text-align: center;
}


.fechas_list a:hover {
    color: #b73c06;
}

.fechas_list a {
    text-decoration: none;
    color: #444444;
    font-size: .9em;
}


/*  //    SECTION    //  */

p {
    display: inline-block;
}

.ubicacion {
    width: 20%;
    display: inline-block;
    margin-left: 3%;
}

.fecha {
    width: 20%;
    display: inline-block;
}

.horario {
    width: 20%;
    display: inline-block;
}

.motivo {
    display: inline-block;
}


/*  //    CONT-SECTION    //  */

.cont-section {
    width: 100%;
}

.contenedor {
    border: solid 3px #444444;
    border-radius: 20px;
    height: 400px;
    width: 95%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    max-height: 400px;
    scroll-margin-top: 190px ;
    background-color: #bbbbbb88;
    box-shadow: 0px 0px 20px 2px black;
}

/*  //    CRONICA ENCABEZADO    //  */

.cont-encabezado {
    background-color: #6f6f5f88;
    border: solid 3px #6f6f5f;
    border-top-right-radius:17px ;
    border-top-left-radius:17px ;
    border-bottom: 2px solid #5e5e4e;
    padding:2% 5%;
}

/*  //    CRONICA DATA    //  */

.match-data {
    background-color: #8a8a7f88;
    padding: 1%;
}

.cronica {
    border-top: solid 2px #556655 ;
    border-bottom: solid 2px #556655;
    padding: 2% 3%;
    height: 150px;
    overflow: auto;
}

.cronica::-webkit-scrollbar {
    width: 1%;
}

.match-info {
    display: flex;
    height: 120px;
    background-color: #8a8a7f88;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
}

/*  //    CRONICA GOLES    //  */

.goles {
    display: inline-block;
    margin-left: 3%;
    margin-top: 1%;
}

.goles h4 {
    display: inline-block;
}

.goles_lista {
    margin-top: 10px;
    display: inline-block;
    width: 15%;
    height: 80%;
}

.goles_lista li {
    padding: 0px;
    font-size: 15px;
}

.goles_lista p {
    margin: 0px;
}

.gol {
    color: #b73c06;
    min-width: 10%;
    text-align: center;
}

/*  //    CRONICA MVP    //  */


.mvp {
    width: 10%;
    min-width: 10%;
}

.mvp h5 {
    display: inline-block;
    margin: 0px;
    margin-top: 25%;
    font-size: .9em;
}

/*  //    CORNICA FORMACION    //  */


.formacion {
    display: inline-block;
    height: 120px;
    padding-left: 10%;
}

.formacion img {
    height:100%;
}

/*  //    CRONICA SUPLENTES    //  */


.suplentes {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 10%;
    min-width: 20%;
    background: #ffffffff;
    background: linear-gradient(90deg, #fefeff88 15%, #eeeeef88 25%, #8a8a7f00 90%);
    height: 95%;
    margin: .25% 0px;
    margin-left: 1%;
}

.suplentes-info__encabezado {
    margin: 0;
    border-bottom: solid 2px #b73c06;
    padding: 2px 10%;
    font-size: 15px;

}

.suplentes-info ul {
    margin: 0;
    padding: 0;
}

.suplentes-info li{
    margin: 2% auto;
    padding-left: 5%;
    font-size: .9em;
}


/*  //    ScrollBar Body    //  */

::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar vertical */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Color del "thumb" (el control que se arrastra) */
    border-radius: 5px; /* Bordes redondeados del thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #b73c06; /* Color del thumb al pasar el cursor sobre él */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #444444; /* Color del track (el área detrás del thumb) */
  }

  /*//  Diseño Responsivo  //*/


  @media screen and (max-width: 900px){

    /*  //  ENCABEZADO  //  */

.encabezado {
    background-image: url(Imagenes/Banner/grandoli_banner.png);
    display: flex;
    align-items: center;
    height: 100px;
}


.encabezado_cont-imagen img {
    width: 100px;
}

.encabezado_cont-titulo {
    font-size: 20px;
}

/*  //  NAVEGADOR  //  */

.cont-menu {
    height: 45px;
    
}

.menu-list {
    width: 100%;
    display: flex;
}


.menu_item a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.menu_item a:hover {
    color:#b73c06
}

li {
    list-style: none;
    margin: 0px 5%;
}

}


@media screen and (max-width: 700px){

    /*  //  ENCABEZADO  //  */

.encabezado {
    background-image: url(Imagenes/Banner/grandoli_banner.png);
    display: flex;
    align-items: center;
    height: 100px;
}


.encabezado_cont-imagen img {
    width: 100px;
}

.encabezado_cont-titulo {
    font-size: 20px;
}

/*  //  NAVEGADOR  //  */

.cont-menu {
    height: 45px;
    position: sticky;
    top:0;
}

.menu-list {
    width: 100%;
    display: flex;
}


.menu_item a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.menu_item a:hover {
    color:#b73c06
}

li {
    list-style: none;
    margin: 0px 5%;
}

.cont-section {
    height: 900px;
}

.contenedor {
    border: solid 3px #444444;
    border-radius: 20px;
    height: 900px;
    width: 98%;

}

.cont-fechas{
    position: sticky;
    top: 45px;
}

.match-info {
    display: flex;
    background-color: #8a8a7f88;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
}

}


