*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}


/*  //  BODY  //  */

body{
    background-color: #555555;
    display: flex;
}

/*  //  NAV  //  */

nav {
    background: rgb(131,142,156);
    background: linear-gradient(-90deg, rgba(131,142,156,1) 80%, rgba(62,72,85,1) 100%);
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

nav::-webkit-scrollbar {
    width: 5px;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
    align-items: center
}

h1 {
    text-align: center;
    font-family: poppins;
    font-family: ;
}

#navbar li {
    text-align: center;
    border-bottom: 2px solid grey;
    padding: 25px;
    font-size: 20px;
}

/*  //  MAIN  //  */

main {
    background: rgb(108,108,108);
    background: linear-gradient(-90deg, rgba(108,108,108,1) 97%, rgba(62,72,85,1) 100%);
    margin-left:250px;
    width: 100%;
    padding: 20px 15px;
}

/*  //  SECTION  //  */

section {
    background: rgb(204,205,199);
    background: linear-gradient(0deg, rgba(204,205,199,1) 54%, rgba(144,144,144,1) 85%);
    margin: 10px;
    padding: 0px 0px;
    scroll-margin-top: 30px ;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #222222;
    height:450px;
    min-height: 450px;
}

.encabezado {
    padding: 10px 20px;
    text-align: left;
    margin-bottom:10px;
}

h2 {
    margin-bottom: 0px;
    display: flex;
    padding: 10px 0px;
}

.ubicacion {
    border:  2px red;
    width: 20%;
    display: inline-block;
    margin-left: 3%;
}

.fecha {
    border:  2px green;
    width: 20%;
    display: inline-block;
}

.horario {
    border:  2px violet;
    width: 20%;
    display: inline-block;
}

.motivo {
    display: inline-block;
}

.cronica {
    border-top: solid 2px #556655 ;
    border-bottom: solid 2px #556655;
    padding: 10px 25px;
    height: 150px;
    overflow: auto;
}

.cronica::-webkit-scrollbar {
    width: 5px;
}

.goles_formacion {
    display: flex;
}

.goles {
    padding-top: 15px;
    margin-left: 3%;
    display: ;
}

.goles_lista {
    margin-left: 5%;
    margin-top: 2%;
    display: inline-block;
}

.gol {
    color: #dd8d31;
    display: inline-block;
    margin-right: 10px;
}

p {
    margin-bottom: 25px;
    display: inline-block;
}

h4 {
    margin-bottom: 25px;
    display: inline-block;
}

.formacion {
    margin-right:;
    position: relative;
    left: 35% ;
}

.formacion_img {
    width: 300px;
    position: relative;
    right: 0;
}

/*  //  SECTION:TARGET  //  */

section:target {
    background-color: #555555;
    color: #111111;
    border: solid 1px #ffff66;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 5px black;
}

section:target .encabezado {
    background-color: #222222;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


section:target h2{
    color: white;
}

/*
@media (max-width: 700px) {
    nav {
        width:100%;
        height: 150px;
        position: fixed;
        display: flex;
        float: ;
        overflow: hidden;
        align-items: center;
        border: solid 2px red;
    }

    h1 {
        padding: 0 35px;
    }

    #navbar li {
        display: inline-block;
        height: 10px;
        border: solid 3px green;
        align-items: center;
    }

    main {
        margin-left: 0px;
        margin-top: 150px;
    }


    section {
        scroll-margin-top: 170px;
    }
  }
  */
