*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}


/*  //  BODY  //  */

body{
    background-color: #333333;
    display: flex ;
}

/*  //  NAV  //  */

#navbar {
    background: red;
    background: linear-gradient(-90deg, rgba(131,142,156,1) 80%, rgba(62,72,85,1) 100%);
    width: 20%;
    height: 100%;
    position: fixed ;
    top: 0;
    left: 0;
    overflow: auto;
}

nav::-webkit-scrollbar {
    width: 5px;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
    align-items: center
}

h1 {
    text-align: center;
    font-family: poppins;
}

#navbar li {
    text-align: center;
    border-bottom: 2px solid grey;
    padding: 10%;
    font-size: 20px;
}

/*  //  MAIN  //  */

main {
    background: rgb(128,124,122);
    background: linear-gradient(90deg, rgba(128,124,122,1) 10%, rgba(204,205,199,1) 48%);
    margin-left:20%;
    width: 100%;
    padding: 0% 5%;
}

/*  //  SECTION  //  */

section {
    background: rgb(204,205,199);
    background: linear-gradient(0deg, rgba(204,205,199,1) 54%, rgba(144,144,144,1) 85%);
    margin: 5% ;
    padding: 0px 0px;
    scroll-margin-top: 30px ;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #222222;
    height:px;
    min-height: px;
}

.encabezado {
    padding: 2% 5%;
    text-align: left;
    margin-bottom: 5%;
}

h2 {
    margin-bottom: 0px;
    display: flex;
    padding: 2% 0px;
}

.ubicacion {
    width: 20%;
    display: inline-block;
    margin-left: 3%;
}

.fecha {
    width: 20%;
    display: inline-block;
}

.horario {
    width: 20%;
    display: inline-block;
}

.motivo {
    display: inline-block;
}

.cronica {
    border-top: solid 2px #556655 ;
    border-bottom: solid 2px #556655;
    padding: 3% 5%;
    height: 150px;
    overflow: auto;
}

.cronica::-webkit-scrollbar {
    width: 5px;
}

.goles_formacion {
    display: flex;
}

.goles {
    padding-top: 2%;
    margin-left: 3%;
    border: solid 3px blue;
}

.goles_lista {
    margin-left: 5%;
    margin-top: 2%;
    display: inline-block;
    border: solid 2px violet;
    min-width:200px ;
}

.gol {
    color: #dd8d31;
    display: inline-block;
    margin-right: 10px;
}

p {
    margin-bottom: 25px;
    display: inline-block;
}

h4 {
    margin-bottom: 25px;
    display: inline-block;
}

.formacion {
    position:;
    left: 35% ;
    border: solid 2px green;
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: right;
}

.formacion_img {
    width: 60%;
    border: solid 3px orange;
}

/*  //  SECTION:TARGET  //  */

section:target {
    background-color: #555555;
    color: #111111;
    border: solid 1px #ffff66;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 5px black;
}

section:target .encabezado {
    background-color: #222222;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


section:target h2{
    color: white;
}


@media (max-width: 700px) {

}
